/* Set core body defaults */
body {
	min-height: 100vh;
	font-size: 16px;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	font-size: 1rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


/* Text */
.text1 {
	font-size: 1rem;
}

.text2 {
	font-size: 1.5rem;
	font-weight: normal;
}

.text3 {
	font-size: 1.75rem;
	font-weight: bold;
}

.center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

/* Helpers */
.block {
	display: block;
}

/* Margins */
.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 1.5rem;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: 1rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 1rem;
}